{% extends 'yata/mobile.html' %}
{% block mobile %}
  <style>
    #container {
      min-width: 100%;
    }
  </style>
  <header id="app-bar" class="mdc-top-app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">menu</button>
        <span class="mdc-top-app-bar__title">YATA</span>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <span style="padding-right:12px;">{{player.name}}</span>
      </section>
    </div>
  </header>
  <aside class="mdc-drawer mdc-drawer--modal mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__header">
      <h3 class="mdc-drawer__title">{{player.name}}</h3>
      <h6 class="mdc-drawer__subtitle">{{player.tId}}</h6>
    </div>
    <div class="mdc-drawer__content">
      <div class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated" href="{% url 'index' %}" aria-current="page">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-home" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Main</span>
        </a>
        <a class="mdc-list-item" href="{% url 'player:index' %}" aria-current="page">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-address-card" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Player</span>
        </a>
        <a class="mdc-list-item" href="{% url 'bazaar:index' %}" aria-current="page">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-store" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Bazaar</span>
        </a>
        <a class="mdc-list-item" href="{% url 'stock:index' %}">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-chart-line" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Stocks</span>
        </a>
        <a class="mdc-list-item" href="{% url 'company:index' %}">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-building" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Company</span>
        </a>
        <a class="mdc-list-item" href="{% url 'faction:index' %}">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-fist-raised" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Faction</span>
        </a>
        <a class="mdc-list-item" href="{% url 'target:index' %}">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-crosshairs" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Targets</span>
        </a>
        <a class="mdc-list-item" href="{% url 'awards:index' %}">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-medal" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Awards</span>
        </a>
        <a class="mdc-list-item" href="{% url 'loot:index' %}">
          <span class="mdc-list-item__ripple"></span>
          <i class="material-icons mdc-list-item__graphic fas fa-user-secret" aria-hidden="true"></i>
          <span class="mdc-list-item__text">Loot</span>
        </a>
      </div>
    </div>
  </aside>
  <div class="mdc-drawer-scrim"></div>
  <div id="app" class="mdc-top-app-bar--fixed-adjust">
    <div id="container">
      <div id="content">
        {% include "yata/section-message.html" %}
        {% include "yata/error.html" %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <script>
    const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
    const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
    //topAppBar.setScrollTarget(document.getElementById('container'));
    topAppBar.listen('MDCTopAppBar:nav', () => {
      drawer.open = !drawer.open;
    });
    var app = new Vue({
      el: '#app',
      delimiters: ['<%', '%>'],
      data: {
        page: "Test Page"
      }
    });
  </script>
{% endblock %}